@import '../../styles/styles.scss';

@mixin login-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);
  

  .card-container {
    background: mat-color($accent);
    color: $background-color;
    @include centering;
    @include responsive-text;
    max-width: 26vw;
    margin-top: 33vh;
    margin-bottom: 1.5vh;

    .app-title {
      text-align: left;
      font-size: 2vh;
    }  
    
    .login-form {
      overflow: hidden;
    }

    .login-button {
      margin-left: .1vw;
    }

    .login-description {
      @include responsive-text;
    }

    .login-error-message {
      color: mat-color($warn);
    }
  }
}
