<section>
  <mat-card class="card-container">
    <mat-tab-group>
      <mat-tab label="Login">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="login-form">
          <mat-card-content class="login-description">
            <mat-form-field>
              <input matInput placeholder="Username/Email" type="text" formControlName="email">
            </mat-form-field>
            <section></section>
            <mat-form-field>
              <input required matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="login-button">
            <button mat-raised-button class="mat-primary" mat-button type="submit">LOGIN</button>
          </mat-card-actions>
        </form>
      </mat-tab>
      <mat-tab label="Signup">
        <app-signup></app-signup>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
