@import '../../styles/styles.scss';

@mixin login-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .card-container {
    @include card-container;
    background: mat-color($accent);
    color: $background-color;
    margin-top: 33vh;

    @media screen and (max-width: $break-small-min),
    screen and (max-width: $break-small-max) {
      max-width: 60vw;
    }

    .app-title {
      text-align: left;
      font-size: 2vh;
    }

    .login-form {
      overflow: hidden;

      .login-content {
        @include responsive-text;

        .login-error-message {
          color: mat-color($warn);
        }

        .login-input {
          width: 100%;
        }
      }

      .login-button {
        margin-left: .1vw;
      }
    }
  }
}
