
$break-small-min: 360px;
$break-small-max: 420px;
$card-container-width: 26vw;

@mixin card-container() {
  @include centering;
  @include responsive-text;
  max-width: $card-container-width;
  margin-bottom: 1.5vh;
}

@mixin responsive-text() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin small-screen {
  width: 1.1rem;
}

@mixin centering {
  float: center;
  margin: auto;
}
