/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './component-themes.scss';
@include mat-core();
 
// Default theme
$doer-primary: mat-palette($mat-blue);
$doer-accent: mat-palette($mat-red, A200, A100, A400);
$doer-warn: mat-palette($mat-yellow);
$doer-theme: mat-light-theme($doer-primary, $doer-accent, $doer-warn);

@include angular-material-theme($doer-theme);
@include component-themes($doer-theme);

.dark-theme {
    $dark-primary: mat-palette($mat-blue-grey);
    $dark-accent: mat-palette($mat-deep-purple, A100, A300, A600);
    $dark-warn: mat-palette($mat-deep-orange);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
    @include angular-material-theme($dark-theme);
    @include component-themes($dark-theme);
}
