<section [ngClass]="{ 'dark-theme': isDarkTheme | async }">
  <mat-sidenav-container class="sidnav-container" fullscreen>
    <mat-sidenav #sidenav mode="side" class="sidenav-menu">
      <mat-list>
        <mat-list-item>
          <a routerLink="/tasks">
            <button mat-raised-button class="mat-primary">Tasks</button>
          </a>
        </mat-list-item>
        <mat-list-item>
          <span *ngIf="this.isLoggedIn">
            <button mat-raised-button class="mat-primary" (click)="logoutUser()">Logout</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar class="mat-accent">
        <section>
          <button mat-raised-button class="mat-primary" (click)="sidenav.toggle()">Menu</button>
        </section>
        <section class="theme-selector">
          <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dark Theme
          </mat-slide-toggle>
        </section>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
