@import '../styles.sass'

$roboto: 'Roboto', sans-serif

.sidnav-container
    font-family: $roboto
    display: flex

    .sidenav-menu
        color: $global-font-color
        background: mat-color($my-app-warn)

    .sidenav-content
        width: 100%
        background: mat-color($my-app-primary)

        .theme-selector
            padding-left: 15px