<mat-sidenav-container class="sidnav-container ">
  <mat-sidenav #sidenav mode="side">
    <mat-list>
      <mat-list-item>
        <a routerLink="/tasks">
          <button mat-button>Tasks</button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/settings">
          <button mat-button>Settings</button>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button (click)="sidenav.toggle()">Menu
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
