<mat-sidenav-container class="sidnav-container">
  <mat-sidenav #sidenav mode="side" class="mat-primary">
    <mat-list>
      <mat-list-item>
        <a routerLink="/tasks">
          <button mat-raised-button class="mat-accent">Tasks</button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/settings">
          <button mat-raised-button class="mat-accent">Settings</button>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-primary">
      <button mat-raised-button class="mat-accent" (click)="sidenav.toggle()">Menu
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
