@import '../styles.sass'

$roboto: 'Roboto', sans-serif

.sidnav-container
    font-family: $roboto
    display: flex

    .sidenav-content
        width: 100%

        .theme-selector
            padding-left: 15px