@import '../../styles.sass'

.card
    text-align: center
.container
    +centering

.card-container
    +centering
    +responsive-text
    width: 12vw
    margin-bottom: 1.5vh  
    background: orange

.task-content
    +centering
    width: 30%
    padding: 10px

.project-name .task-description .project-name
    +responsive-text