@import '../../styles.sass'

.card
    text-align: center
.container
    +centering

.card-container
    +centering
    +responsive-text
    width: 20vw
    margin-bottom: 1.5vh  
    background: orange

.task-content
    +centering
    padding: 10px

.task-description
    font-size: 1.5vw
    +responsive-text

.project-name
    font-size: 2vw
    +responsive-text

.tasks-phrase
    font-size: 2.5vw
    