@import '../../styles.sass'
@import '../../theme.sass'
@import '~@angular/material/theming'

.task-list-content
    padding: 10px
    background: mat-color($my-app-primary)
    color: $global-font-color
    
    .card-container
        +centering
        +responsive-text
        max-width: 40vw
        margin-bottom: 1.5vh  
        background: mat-color($my-app-accent)
        color: $global-font-color

        .task-buttons
            color: $global-font-color
            font-size: 3vw
            float: left

        .project-name, .task-description
            +responsive-text

            .task-edit-field
                text-decoration: underline

        .project-name-input
            padding: 10px 10px 10px 10px

        .created-time
            float: right
            font-size: calc(6px + .6vw)
