/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'

=responsive-text()
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap  

=small-screen
    width: 1.1rem

=centering
    float: center
    margin: auto   